

.charges-page p,
.charges-page ul>li{
    
        color: #6c757d; /* The same color used in Bootstrap for secondary text */
        font-size: 13px;
}

.charges-page h6{
    margin-bottom: 1rem;
    color: black;
    font-weight: 500;
}
.charges-page a{
    text-decoration: none;
    color: black;
}